# BD
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_NAME=logistica_viajes_db
DB_PASSWORD=felipe
DB_SSL=false

# EMAIL SERVICE
EMAIL_USER=example@mail.com
EMAIL_PASS="aaaa bbbb cccc dddd"

# DRIVE SERVICE
GOOGLE_DRIVE_CLIENT_ID=pega_aqui_tu_client_id
GOOGLE_DRIVE_CLIENT_SECRET=pega_aqui_tu_client_secret
GOOGLE_DRIVE_REFRESH_TOKEN=pega_aqui_tu_refresh_token
GOOGLE_DRIVE_REDIRECT_URI=https://url_de_tu_redirect_uri
GOOGLE_DRIVE_FOLDER_ID=url_de_tu_carpeta_en_drive

# IA SERVICES APIS

GEMINI_API_KEY=example

OPENROUTER_API_KEY=example
OPENROUTER_MODEL=example
OPENROUTER_BASE_URL=https://example

OPENAI_API_KEY=example
OPENAI_MODEL=example

DEEPSEEK_API_KEY=example
DEEPSEEK_MODEL=deepseek-coder
DEEPSEEK_API_URL=https://api.deepseek.com/chat/completions

GROQ_API=example

JWT_SECRET=MiClaveSuperSegura123@!

# NL2SQL
NL2SQL_ALLOWED_SCHEMAS=public
NL2SQL_CACHE_TTL=600
NL2SQL_MAX_TABLES=8
NL2SQL_MAX_CHARS=12000